# FastPic Configuration
ACCESS_PASSWORD=0928
MAX_UPLOAD_FILE_SIZE=1000M
MAX_UPLOAD_TOTAL_SIZE=5000M
MYSQL_HOST=mariadb
MYSQL_USER=fastpic
MYSQL_PASSWORD=fastpic
MYSQL_DATABASE=fastpic

# MariaDB
MYSQL_ROOT_PASSWORD=fastpic

# Optional
TZ=Asia/Shanghai
PUID=1000
PGID=1000
SKIP_FULL_SCAN_ON_STARTUP=true
DB_POOL_SIZE=20
DB_MAX_OVERFLOW=40
DB_POOL_RECYCLE=3600
